

<div class="container mt-5">

  <h2 style="text-align: center">Gérer les cours, les groupes et les utilisateurs de la plateforme</h2>

  <div class="container mt-5" style="place-content: center space-evenly; align-items: center;" fxLayoutGap="30"  fxLayout="row">

    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Cours</h5>
        <p class="card-text">Créez, modifiez ou supprimez les cours et affectez les à des groupes d'étudiants.</p>
        <a routerLink="/administration/cours" class="btn btn-primary"  style="background-color: #24003E;">Continuer</a>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Groupe</h5>
        <p class="card-text">Créez, modifiez ou supprimez les groupes d'étudiants avant de leur affecter des cours.</p>
        <a routerLink="/administration/groupe" class="btn btn-primary"  style="background-color: #24003E;" >Continuer</a>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Utilisateur</h5>
        <p class="card-text">Créez, modifiez ou supprimez les comptes des utilisateurs de la plateforme.</p>
        <a routerLink="/administration/utilisateur" class="btn btn-primary"  style="background-color: #24003E;">Continuer</a>
      </div>
    </div>

  </div>
</div>
